extends ../layout/index.js

block content
    div
        h2.text-center.text-6xl  Login
        p authenticate

        if authenticate 
            p Usuario logeado 
        else 
            p Fallo al logearse